@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click Student from nav bar or click  <a href="@Url.Action("List", "Student")">Here</a> for explore Student CRUD operation.</p>
</div>
